<div class="row" >
    
    <h1>Proyectos Realizados</h1>
    
    <div class="col-lg-2">
    <button type="button" class="btn btn-dark" routerLink="/newproyectos" *ngIf="isLogged">
        Agregar Proyecto
    </button>
</div>
  


    <table class="table">
    <tbody>
    <tr *ngFor="let Proyectos of proyectos">
                

       
        
                <td><h2>{{Proyectos.nombreP}}</h2></td>
        
       
          
                <td><h3>{{Proyectos.descripcionP}}</h3></td>
       
      
                
                <td><img src={{Proyectos.imgP}}
                    class="img-fluid" id="fotoproyecto"></td>

           
               
              
                <td *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/editproyectos/{{Proyectos.id}}">
                        <i class="bi bi-pencil-fill"></i> EDITAR</button>
                </td>

        
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Proyectos.id)">
                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                </td>
          
         
            </tr>
        </tbody>
    </table>
</div>
