.row{
    padding: 30px;
}
div{
    background: #faf5f5;
    
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(10, 10, 10), #e6ca0c);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgb(10, 10, 10), #e6ca0c)
}
h1{
        font-family: monospace, sans-serif; /* Establece la fuente a Arial o cualquier otra fuente sans-serif */
       /* Establece el tamaño de la fuente a 20 píxeles */ 
         font-weight: bold; /* Establece el grosor de la fuente en negrita */  

    color: #daebea;
    display: inline;
} 
h2{
    font-family: monospace, sans-serif;
    color: #daebea;
}

h3{
    font-family: monospace, sans-serif;
    display: inline;
    color: #daebea ;
            
}