.row{
    
    background: #0a0a0a;
    
 
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flez;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}

