
<div>
    <br>
 <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="islogger">
    Editar Persona
</button>
</div>
<div class="row" *ngIf="persona">   
   
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <img src={{persona.img}}
        class="img-fluid" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <h3>Consultas Online o Presenciales</h3>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 descripcion">
        <span>
            <h1>Equipo interdiciplinario</h1>
            <h3>{{persona.descripcion}}</h3>
        </span>
    </div>
</div>