<div class="header" [class.sticky]="isSticky">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logo Centro Boro.png" id="CBLogo">
        </div>
        <div class="col-xs-12 redes">
            <a href="https://wa.me/+5491123952089"><img
                    src="../../../assets/whatsapp.png" id="whatsapp"></a>
            <a href="https://www.facebook.com/psi.terapia.1/"><img
                    src="../../../assets/facebook.png" id="facebook"></a>
            <a href="https://www.instagram.com/floranutrii/"><img
                    src="../../../assets/instagram.png" id="instagram"></a>
            <button type="button" class="btn btn-light" (click)="login()"
                *ngIf="!isLogged">INGRESO</button>
            <button type="button" class="btn btn-danger" (click)="onLogOut()"
                *ngIf="isLogged">CERRAR SESION</button>
        </div>
    </div>
</div>