
.header {
    position: relative;
    width: 100%;
    z-index: 1;
    /* Agrega cualquier otro estilo que desees para tu encabezado */
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.redes img{
    margin-right: 0.5em;
    margin: 0.3em;
    width: 50px;
    height: auto;
  
    }

    .redes{
        margin-right: 0.9em;
        display: inline-block;
    }


#CBLogo{ 
    width: 100px;
    height: auto; 
    border-radius: 100px;
   
    margin: 0.25em;

}


img{
    width: 100px;
}

.btn{
    border-width: medium;
}
@media (max-width: 575px){
.container{
    flex-direction: column;
}
.redes{
    
    flex-direction: column;
    align-items: center;
}
.redes img{
    margin: 0.3em;
}
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  
  